#infoUI
{
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100%;
	text-align: center;
}

#infoUI1
{
	position: absolute;
	bottom: 15px;
	width: 100%;
	text-align: center;
}

#infoUI2
{
	position: absolute;
	top: 20px;
	left: 50px;
	width: 100%;
}

#infoUI3
{
	position: absolute;
	top: 20px;
	left: 350px;
	width: 100%;
}

.lbl 
{ 
	color:#fff; 
	font-size:16px; 
	font-weight:bold; 
	position: absolute; 
	top:0px; 
	z-index:100; 
	text-shadow:#000 1px 1px 1px; 
	background-color:rgba(0,0,0,0.25); 
	padding:1em;
	width: 100%;
	height: 5%;
}

.lbl1
{ 
	color:#fff; 
	font-size:16px; 
	font-weight:bold; 
	text-shadow:#000 1px 1px 1px; 
	padding:1em;
}

#lbl_left { text-align:left; left:0px }
#lbl_right { text-align:left; right:0px }

